#guessName {
  flex-grow: 1;
  padding: 10px 15px;
  font-size: 1rem;
  box-sizing: border-box;
  border: 2px solid #b11b30;
  border-radius: 6px;
  font-family: 'Roboto Slab', serif;
  outline: none;
}

.suggestions-box {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  background: #b11b30 !important;
  border-top: none !important;
  max-height: 150px;
  overflow-y: auto;
  z-index: 10;
  box-shadow: 0 4px 6px rgba(0,0,0,0.1);
  font-family: 'Roboto Slab', serif;
  color: #ffffff !important;
  display: block; 
}

.suggestion-item {
  padding: 8px 12px;
  cursor: pointer;
  color: #ffffff !important;
  background: #d9223a !important;
}

.suggestion-item:hover {
  background-color: #e7b606 !important;
  color:#b11b30 !important;
}

#guess-table thead th {
  padding: 30px 12px; 
  background-color: #b11b30; 
  color: #ffffff;
  border-radius: 8px;
}

.autocomplete-active {
  background-color: #e7b606 !important;
  color: #b11b30 !important;
}

#liga2-text {
  background: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80px;
  height: 32px;
  border: 2px solid #ec5a4d; 
  color: #ec5a4d; 
  font-family: 'Roboto Slab', serif;
  font-weight: 700;
  font-size: 1.2rem;
  border-radius: 6px;
  cursor: pointer;
  user-select: none;
  transition: background-color 0.3s, color 0.3s, border-color 0.3s; 
  background-color: transparent; 
}

#liga2-text:hover {
  background-color: #ec5a4d; 
  color: #000;               
  border-color: #ec5a4d;     
}
