#liga2-text {
  background: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80px;
  height: 32px;
  border: 2px solid #ec5a4d; /* borde rojo */
  color: #ec5a4d; /* texto rojo */
  font-family: 'Roboto Slab', serif;
  font-weight: 700;
  font-size: 1.2rem;
  border-radius: 6px;
  cursor: pointer;
  user-select: none;
  transition: background-color 0.3s, color 0.3s, border-color 0.3s; /* agrega border-color */
  background-color: transparent; /* fondo inicial transparente */
}

#liga2-text:hover {
  background-color: #ec5a4d; /* fondo rojo */
  color: #000;               /* texto negro */
  border-color: #ec5a4d;     /* borde rojo (igual al fondo) */
}

.grid-item[href="realmadrid/realmadrid.html"] {
        background-color: white;
        background-image: url("../../img/diagmonds-light.png");
        color: rgb(218, 156, 0);
        font-weight: bold;
        font-size: 1.75rem;
        transition: background-position 0.5s ease;
        background-size: 40px 40px;
        background-position: 0 0;
          text-shadow: 5px 5px 15px rgba(255, 255, 255, 0.6);
            font-family: 'Roboto Slab', serif;

        }

        .grid-item[href="realmadrid/realmadrid.html"]:hover {
        background-position: 40px 40px; /* Mueve las rayas para dar animación */
          text-shadow: 1px 1px 3px rgba(255, 255, 255, 0.6);
        }

.grid-item[href="barcelona/barcelona.html"] {
        background: repeating-linear-gradient(
            90deg,
            #00209b,
            #00209b 10px,
            #a01d48 10px,
            #a01d48 20px
        );
        color: #edb700;
        font-weight: bold;
        font-size: 1.75rem;
        transition: background-position 0.5s ease;
        background-size: 40px 40px;
        background-position: 0 0;
            font-family: 'Roboto Slab', serif;

        }

        .grid-item[href="barcelona/barcelona.html"]:hover {
        background-position: 40px 40px; /* Mueve las rayas para dar animación */
        }

.grid-item[href="atleticomadrid/atleticomadrid.html"] {
        background: repeating-linear-gradient(
            90deg,
            #ffffff,
            #fff 10px,
            #e1291d 10px,
            #e1291d 20px
        );
        color: #011d6e;
        font-weight: bold;
        font-size: 1.75rem;
        transition: background-position 0.5s ease;
        background-size: 40px 40px;
        background-position: 0 0;
            font-family: 'Roboto Slab', serif;

        }

        .grid-item[href="atleticomadrid/atleticomadrid.html"]:hover {
        background-position: 40px 40px; /* Mueve las rayas para dar animación */
        }