#liga2-text {
  background: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 160px;            /* tamaño cuadrado fijo */
  height: 32px;
  border: 2px solid #5b2686;  /* borde con el color que tenías */
  color: #5b2686;
  font-family: 'Roboto Slab', serif;
  font-weight: 700;
  font-size: 1.2rem;
  border-radius: 6px;     /* bordes redondeados */
  cursor: pointer;
  user-select: none;
  transition: background-color 0.3s, color 0.3s;
}

#liga2-text:hover {
  background-color: #5b2686;
  color: #ffffff;
}
.grid-container {
      display: grid;
      grid-template-columns: repeat(2, 1fr)!important; /* 4 columnas fijas */
      grid-auto-rows: 120px; /* Altura fija para cada fila (ajusta si necesitas) */
      gap: 20px;
      width: 100%;
      max-width: 1000px;
      margin-top: 40px;
    }


.grid-item[href="manutd/"] {
        background-color: #da1b23;
        background-image: url("../img/gplay.png");
        color: #faf600;
        font-weight: bold;
        font-size: 1.75rem;
        transition: background-position 0.5s ease;
        background-size: 40px 40px;
        background-position: 0 0;
            font-family: 'Roboto Slab', serif;

        }

        .grid-item[href="manutd/"]:hover {
        background-position: 40px 40px; /* Mueve las rayas para dar animación */
        background-color: #c11922; /* Mantiene color morado más oscuro al hover */
          text-shadow: 1px 1px 3px rgba(255, 255, 255, 0.6);
        }

.grid-item[href="liverpool/"] {
        background-color: #cb0226;
        background-image: url("../img/gplay.png");
        color: #fff;
        font-weight: bold;
        font-size: 1.75rem;
        transition: background-position 0.5s ease;
        background-size: 40px 40px;
        background-position: 0 0;
            font-family: 'Roboto Slab', serif;

        }

        .grid-item[href="liverpool/"]:hover {
        background-position: 40px 40px; /* Mueve las rayas para dar animación */
        background-color: #cb0226; /* Mantiene color morado más oscuro al hover */
          text-shadow: 1px 1px 3px rgba(255, 255, 255, 0.6);
        }