#liga2-text {
  background: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80px;            /* tamaño cuadrado fijo */
  height: 32px;
  border: 2px solid #00d4d7;  /* borde con el color que tenías */
  color: #00d4d7;
  font-family: 'Roboto Slab', serif;
  font-weight: 700;
  font-size: 1.2rem;
  border-radius: 6px;     /* bordes redondeados */
  cursor: pointer;
  user-select: none;
  transition: background-color 0.3s, color 0.3s;
}

#liga2-text:hover {
  background-color: #00d4d7;
  color: #000;
}


    .grid-item[href="realvalladolid/"] {
        background: repeating-linear-gradient(
            90deg,
            #9602d1,
            #9602d1 10px,
            white 10px,
            white 20px
        );
        color: black;
        font-weight: bold;
        font-size: 1.75rem;
        transition: background-position 0.5s ease;
        background-size: 40px 40px;
        background-position: 0 0;
          text-shadow: 5px 5px 15px rgba(255, 255, 255, 0.6);
            font-family: 'Roboto Slab', serif;

        }

        .grid-item[href="realvalladolid/"]:hover {
        background-position: 40px 40px; /* Mueve las rayas para dar animación */
        background-color: #4b1a9c; /* Mantiene color morado más oscuro al hover */
          text-shadow: 1px 1px 3px rgba(255, 255, 255, 0.6);
        }

